<!-- Modal -->
<%= form_tag site_comments_path do %>
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"><%= t('labels.leave_your_comment') %></h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label><%= t('labels.comment') %></label>
            <%= text_area :comment, :body, class:"form-control", rows: 5 %>
            <%= hidden_field :comment, :ad_id, value: @ad.id %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <%= t('buttons.close') %>
        </button>
        <%= submit_tag " #{t('buttons.send')} ", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
